In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [48]:
chronic_disease_file = "Resources/U.S._Chronic_Disease_Indicators.csv"
economic_info_file = "Resources/kaggle_income.csv"

cdc_data = pd.read_csv(chronic_disease_file)
cdc_data.head()

YearEnd                    403984
LocationAbbr               403984
LocationDesc               403984
Topic                      403984
Question                   403984
Response                    79323
DataValueUnit              374119
DataValueType              403984
DataValue                  297817
DatavalueFootnote          187853
LowConfidenceLimit         246819
HighConfidenceLimit        246819
StratificationCategory1    403984
Stratification1            403984
GeoLocation                401416
dtype: int64

In [10]:
topic_counts=cdc_data.groupby("Topic")["Question"].count()
topic_counts

Topic
Alcohol                                            27697
Arthritis                                          31652
Asthma                                             31958
Cancer                                             11605
Cardiovascular Disease                             62678
Chronic Kidney Disease                             11525
Chronic Obstructive Pulmonary Disease              52536
Diabetes                                           67342
Disability                                            55
Immunization                                        3838
Mental Health                                       5595
Nutrition, Physical Activity, and Weight Status    29512
Older Adults                                        4003
Oral Health                                         7593
Overarching Conditions                             30092
Reproductive Health                                 1735
Tobacco                                            24568
Name: Question, dtype: int64

In [12]:
#economic_data = pd.read_csv(economic_info_file, encoding="latin-1")
#economic_data.head()

In [37]:
alcohol_topics = cdc_data.loc[cdc_data["Topic"] == "Alcohol"]
alcohol_topics

,YearEnd,LocationAbbr,LocationDesc,Topic,Question,Response,DataValueUnit,DataValueType,DataValue,DatavalueFootnote,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation
0,2015,AK,Alaska,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,22,NaN,19.7,24.5,Overall,Overall,"(64.84507995700051, -147.72205903599973)"
1,2015,AL,Alabama,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,30.7,NaN,27.3,34.3,Overall,Overall,"(32.84057112200048, -86.63186076199969)"
2,2015,AR,Arkansas,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,27.6,NaN,24.5,30.8,Overall,Overall,"(34.74865012400045, -92.27449074299966)"
3,2015,AZ,Arizona,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,34.8,NaN,29.7,40.2,Overall,Overall,"(34.865970280000454, -111.76381127699972)"
4,2015,CA,California,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,28.9,NaN,23.6,34.7,Overall,Overall,"(37.63864012300047, -120.99999953799971)"
5,2015,CO,Colorado,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,NaN,No data available,NaN,NaN,Overall,Overall,"(38.843840757000464, -106.13361092099967)"
6,2015,CT,Connecticut,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,30.2,NaN,27.2,33.4,Overall,Overall,"(41.56266102000046, -72.64984095199964)"
7,2015,DC,District of Columbia,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,20.1,NaN,19.3,21.0,Overall,Overall,"(38.907192, -77.036871)"
8,2015,FL,Florida,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,33,NaN,31.1,35.0,Overall,Overall,"(28.932040377000476, -81.92896053899966)"
9,2015,GA,Georgia,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,NaN,No data available,NaN,NaN,Overall,Overall,"(32.83968109300048, -83.62758034599966)"
10,2015,GU,Guam,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,25.3,NaN,21.8,29.2,Overall,Overall,"(13.444304, 144.793731)"
11,2015,HI,Hawaii,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,25.1,NaN,23.2,27.2,Overall,Overall,"(21.304850435000446, -157.85774940299973)"
12,2015,IA,Iowa,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,NaN,No data available,NaN,NaN,Overall,Overall,"(42.46940091300047, -93.81649055599968)"
13,2015,ID,Idaho,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,28.3,NaN,24.0,33.0,Overall,Overall,"(43.682630005000476, -114.3637300419997)"
14,2015,IL,Illinois,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,30.7,NaN,26.7,35.1,Overall,Overall,"(40.48501028300046, -88.99771017799969)"
15,2015,IN,Indiana,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,30.5,NaN,26.3,35.2,Overall,Overall,"(39.766910452000445, -86.14996019399968)"
16,2015,KS,Kansas,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,NaN,No data available,NaN,NaN,Overall,Overall,"(38.34774030000045, -98.20078122699965)"
17,2015,KY,Kentucky,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,28.5,NaN,25.2,32.0,Overall,Overall,"(37.645970271000465, -84.77497104799966)"
18,2015,LA,Louisiana,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,NaN,No data available,NaN,NaN,Overall,Overall,"(31.31266064400046, -92.44568007099969)"
19,2015,MA,Massachusetts,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,33.9,NaN,30.9,36.9,Overall,Overall,"(42.27687047000046, -72.08269067499964)"
20,2015,MD,Maryland,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,26.1,NaN,25.3,27.0,Overall,Overall,"(39.29058096400047, -76.60926011099963)"
21,2015,ME,Maine,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,24,NaN,22.6,25.4,Overall,Overall,"(45.254228894000505, -68.98503133599962)"
22,2015,MI,Michigan,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,25.9,NaN,22.5,29.7,Overall,Overall,"(44.6613195430005, -84.71439026999968)"
23,2015,MN,Minnesota,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,NaN,No data available,NaN,NaN,Overall,Overall,"(46.35564873600049, -94.79420050299967)"
24,2015,MO,Missouri,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,34.5,NaN,30.2,39.1,Overall,Overall,"(38.635790776000476, -92.56630005299968)"
25,2015,MS,Mississippi,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,31.5,NaN,28.2,34.9,Overall,Overall,"(32.745510099000455, -89.53803082499968)"
26,2015,MT,Montana,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,34.2,NaN,32.2,36.3,Overall,Overall,"(47.06652897200047, -109.42442064499971)"
27,2015,NC,North Carolina,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,29.2,NaN,26.1,32.5,Overall,Overall,"(35.466220975000454, -79.15925046299964)"
28,2015,ND,North Dakota,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,30.8,NaN,27.7,34.0,Overall,Overall,"(47.47531977900047, -100.11842104899966)"
29,2015,NE,Nebraska,Alcohol,Alcohol use among youth,NaN,%,Crude Prevalence,22.7,NaN,19.6,26.2,Overall,Overall,"(41.6410409880005, -99.36572062299967)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387361,2010,MO,Missouri,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.4,NaN,NaN,NaN,Overall,Overall,"(38.635790776000476, -92.56630005299968)"
387362,2010,MS,Mississippi,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.2,NaN,NaN,NaN,Overall,Overall,"(32.745510099000455, -89.53803082499968)"
387363,2010,MT,Montana,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.9,NaN,NaN,NaN,Overall,Overall,"(47.06652897200047, -109.42442064499971)"
387364,2010,NC,North Carolina,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2,NaN,NaN,NaN,Overall,Overall,"(35.466220975000454, -79.15925046299964)"
387365,2010,ND,North Dakota,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.9,NaN,NaN,NaN,Overall,Overall,"(47.47531977900047, -100.11842104899966)"
387366,2010,NE,Nebraska,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.3,NaN,NaN,NaN,Overall,Overall,"(41.6410409880005, -99.36572062299967)"
387367,2010,NH,New Hampshire,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,4.4,NaN,NaN,NaN,Overall,Overall,"(43.65595011300047, -71.50036091999965)"
387368,2010,NJ,New Jersey,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.4,NaN,NaN,NaN,Overall,Overall,"(40.13057004800049, -74.27369128799967)"
387369,2010,NM,New Mexico,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.3,NaN,NaN,NaN,Overall,Overall,"(34.52088095200048, -106.24058098499967)"
387370,2010,NV,Nevada,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,3.3,NaN,NaN,NaN,Overall,Overall,"(39.493240390000494, -117.07184056399967)"
387371,2010,NY,New York,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.1,NaN,NaN,NaN,Overall,Overall,"(42.82700103200045, -75.54397042699964)"
387372,2010,OH,Ohio,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2,NaN,NaN,NaN,Overall,Overall,"(40.06021014100048, -82.40426005599966)"
387373,2010,OK,Oklahoma,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,1.9,NaN,NaN,NaN,Overall,Overall,"(35.47203135600046, -97.52107021399968)"
387374,2010,OR,Oregon,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.5,NaN,NaN,NaN,Overall,Overall,"(44.56744942400047, -120.15503132599969)"
387375,2010,PA,Pennsylvania,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.2,NaN,NaN,NaN,Overall,Overall,"(40.79373015200048, -77.86070029399963)"
387376,2010,PR,Puerto Rico,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,NaN,No data available,NaN,NaN,Overall,Overall,"(18.220833, -66.590149)"
387377,2010,RI,Rhode Island,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.6,NaN,NaN,NaN,Overall,Overall,"(41.70828019300046, -71.52247031399963)"
387378,2010,SC,South Carolina,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.3,NaN,NaN,NaN,Overall,Overall,"(33.998821303000454, -81.04537120699968)"
387379,2010,SD,South Dakota,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.7,NaN,NaN,NaN,Overall,Overall,"(44.353130053000484, -100.3735306369997)"
387380,2010,TN,Tennessee,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,1.9,NaN,NaN,NaN,Overall,Overall,"(35.68094058000048, -85.77449091399967)"
387381,2010,TX,Texas,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.2,NaN,NaN,NaN,Overall,Overall,"(31.827240407000488, -99.42677020599967)"
387382,2010,US,United States,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.3,Per capita alcohol consumption was calculated ...,NaN,NaN,Overall,Overall,NaN
387383,2010,UT,Utah,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,1.4,NaN,NaN,NaN,Overall,Overall,"(39.360700171000474, -111.58713063499971)"
387384,2010,VA,Virginia,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.1,NaN,NaN,NaN,Overall,Overall,"(37.54268067400045, -78.45789046299967)"
387385,2010,VI,Virgin Islands,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,NaN,No data available,NaN,NaN,Overall,Overall,"(18.335765, -64.896335)"
387386,2010,VT,Vermont,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.7,NaN,NaN,NaN,Overall,Overall,"(43.62538123900049, -72.51764079099962)"
387387,2010,WA,Washington,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.2,NaN,NaN,NaN,Overall,Overall,"(47.52227862900048, -120.47001078999972)"
387388,2010,WI,Wisconsin,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.8,NaN,NaN,NaN,Overall,Overall,"(44.39319117400049, -89.81637074199966)"
387390,2010,WV,West Virginia,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,1.8,NaN,NaN,NaN,Overall,Overall,"(38.66551020200046, -80.71264013499967)"
387391,2010,WY,Wyoming,Alcohol,Per capita alcohol consumption among persons a...,NaN,gallons,Per capita alcohol consumption,2.6,NaN,NaN,NaN,Overall,Overall,"(43.23554134300048, -108.10983035299967)"

In [14]:
#alcohol_topics.groupby("DataValueType").head()

In [15]:
alcohol_topics2 = alcohol_topics.filter(["YearEnd","LocationDesc","Topic","Question","DataValueType","DataValue","GeoLocation","StratificationCategory1","Stratification1"])

#alcohol_topics2.head()

In [16]:
arthritis_topics = cdc_data.loc[cdc_data["Topic"] == "Arthritis"]
arthritis_topics2 = arthritis_topics.filter(["YearEnd","LocationDesc","Topic","Question","DataValueType","DataValue","GeoLocation","StratificationCategory1","Stratification1"])

In [17]:
asthma_topics = cdc_data.loc[cdc_data["Topic"] == "Asthma"]
asthma_topics2 = asthma_topics.filter(["YearEnd","LocationDesc","Topic","Question","DataValueType","DataValue","GeoLocation","StratificationCategory1","Stratification1"])

In [18]:
cancer_topics = cdc_data.loc[cdc_data["Topic"] == "Cancer"]
cancer_topics2 = cancer_topics.filter(["YearEnd","LocationDesc","Topic","Question","DataValueType","DataValue","GeoLocation","StratificationCategory1","Stratification1"])

In [19]:
cardiovascular_disease_topics = cdc_data.loc[cdc_data["Topic"] == "Cardiovascular Disease"]
cardiovascular_disease_topics2 = cardiovascular_disease_topics.filter(["YearEnd","LocationDesc","Topic","Question","DataValueType","DataValue","GeoLocation","StratificationCategory1","Stratification1"])

In [20]:
chronic_obstructive_pulmonary_disease_topics = cdc_data.loc[cdc_data["Topic"] == "Chronic Obstructive Pulmonary Disease"]
chronic_obstructive_pulmonary_disease_topics2 = cancer_topics.filter(["YearEnd","LocationDesc","Topic","Question","DataValueType","DataValue","GeoLocation","StratificationCategory1","Stratification1"])

In [21]:

diabetes_topics = cdc_data.loc[cdc_data["Topic"] == "Diabetes"]
diabetes_topics2 = diabetes_topics.filter(["YearEnd","LocationDesc","Topic","Question","DataValueType","DataValue","GeoLocation","StratificationCategory1","Stratification1"])

In [22]:
nutrition_physical_activity_weight_status_topics = cdc_data.loc[cdc_data["Topic"] == "Nutrition, Physical Activity, and Weight Status"]
nutrition_physical_activity_weight_status_topics2 = nutrition_physical_activity_weight_status_topics.filter(["YearEnd","LocationDesc","Topic","Question","DataValueType","DataValue","GeoLocation","StratificationCategory1","Stratification1"])

In [23]:
overarching_conditions_topics = cdc_data.loc[cdc_data["Topic"] == "Overarching Conditions"]
overarching_conditions_topics2 = overarching_conditions_topics.filter(["YearEnd","LocationDesc","Topic","Question","DataValueType","DataValue","GeoLocation","StratificationCategory1","Stratification1"])

In [24]:
tobacco_topics = cdc_data.loc[cdc_data["Topic"] == "Tobacco"]
tobacco_topics2 = tobacco_topics.filter(["YearEnd","LocationDesc","Topic","Question","DataValueType","DataValue","GeoLocation","StratificationCategory1","Stratification1"])
#tobacco_topics2.head()

In [25]:
tobacco_crudeprev = tobacco_topics2.loc[tobacco_topics2["DataValueType"] == "Crude Prevalence"]
#tobacco_crudeprev.head()

In [26]:
alcohol_questions_counts = alcohol_topics2.groupby("Question")["DataValue"].count()
alcohol_questions_counts

Question
Alcohol use among youth                                                     84
Alcohol use before pregnancy                                                23
Amount of alcohol excise tax by beverage type (beer)                       100
Amount of alcohol excise tax by beverage type (distilled spirits)           68
Amount of alcohol excise tax by beverage type (wine)                        78
Binge drinking frequency among adults aged >= 18 years who binge drink    2760
Binge drinking intensity among adults aged >= 18 years who binge drink    2733
Binge drinking prevalence among adults aged >= 18 years                   3630
Binge drinking prevalence among women aged 18-44 years                     809
Binge drinking prevalence among youth                                       85
Chronic liver disease mortality                                           6135
Commercial host (dram shop) liability laws                                 102
Heavy drinking among adults aged >= 18 years                              2746
Heavy drinking among women aged 18-44 years                                572
Local authority to regulate alcohol outlet density                         100
Per capita alcohol consumption among persons aged >= 14 years              104
Name: DataValue, dtype: int64

In [27]:
arthritis_questions_counts = arthritis_topics2.groupby("Question")["DataValue"].count()
arthritis_questions_counts

Question
Activity limitation due to arthritis among adults aged >= 18 years                                         2148
Adults aged >= 18 years with arthritis who have taken a class to learn how to manage arthritis symptoms     331
Arthritis among adults aged >= 18 years                                                                    4068
Arthritis among adults aged >= 18 years who are obese                                                      3324
Arthritis among adults aged >= 18 years who have diabetes                                                  2929
Arthritis among adults aged >= 18 years who have heart disease                                             2713
Fair or poor health among adults aged >= 18 years with arthritis                                           3415
Physical inactivity among adults aged >= 18 years with arthritis                                           3327
Name: DataValue, dtype: int64

In [28]:
asthma_questions_counts = asthma_topics2.groupby("Question")["DataValue"].count()
asthma_questions_counts

Question
Asthma mortality rate                                                                      6135
Asthma prevalence among women aged 18-44 years                                              802
Current asthma prevalence among adults aged >= 18 years                                    3434
Emergency department visit rate for asthma                                                  801
Hospitalizations for asthma                                                                1332
Influenza vaccination among noninstitutionalized adults aged 18-64 years with asthma       2551
Influenza vaccination among noninstitutionalized adults aged >= 65 years with asthma       1972
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with asthma    2480
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma    1954
Name: DataValue, dtype: int64

In [29]:
cancer_questions_counts = cancer_topics2.groupby("Question")["DataValue"].count()
cancer_questions_counts

Question
Cancer of the colon and recturm (colorectal), incidence                                  153
Cancer of the colon and recturm (colorectal), mortality                                  156
Cancer of the female breast, mortality                                                   156
Cancer of the female cervix, mortality                                                   156
Cancer of the lung and bronchus, incidence                                               153
Cancer of the lung and bronchus, mortality                                               156
Cancer of the oral cavity and pharynx, mortality                                         156
Cancer of the prostate, mortality                                                        156
Fecal occult blood test, sigmoidoscopy, or colonoscopy among adults aged 50-75 years    1590
Invasive cancer (all sites combined), incidence                                          153
Invasive cancer (all sites combined), mortality                                          156
Invasive cancer of the cervix, incidence                                                 153
Invasive cancer of the female breast, incidence                                          153
Invasive cancer of the oral cavity or pharynx, incidence                                 153
Invasive cancer of the prostate, incidence                                               153
Invasive melanoma, incidence                                                             153
Mammography use among women aged 50-74 years                                             877
Melanoma, mortality                                                                      156
Papanicolaou smear use among adult women aged 21-65 years                               1028
Recent Papanicolaou smear use among women aged 21-44 years                               432
Name: DataValue, dtype: int64

In [30]:

cardiovascular_disease_questions_counts = cardiovascular_disease_topics2.groupby("Question")["DataValue"].count()
cardiovascular_disease_questions_counts

Question
Awareness of high blood pressure among adults aged >= 18 years                                                                 2422
Awareness of high blood pressure among women aged 18-44 years                                                                   512
Cholesterol screening among adults aged >= 18 years                                                                            2442
High cholesterol prevalence among adults aged >= 18 years                                                                      2382
Hospitalization for acute myocardial infarction                                                                                1332
Hospitalization for heart failure among Medicare-eligible persons aged >= 65 years                                              468
Hospitalization for stroke                                                                                                     1332
Influenza vaccination among noninstitutionalized adults aged 18-64 years with a history of coronary heart disease or stroke    2386
Influenza vaccination among noninstitutionalized adults aged >= 65 years with a history of coronary heart disease or stroke    2354
Mortality from cerebrovascular disease (stroke)                                                                                6135
Mortality from coronary heart disease                                                                                          6135
Mortality from diseases of the heart                                                                                           6135
Mortality from heart failure                                                                                                   6136
Mortality from total cardiovascular diseases                                                                                   6135
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with a history of coronary heart disease           2191
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with a history of coronary heart disease           2246
Pre-pregnancy hypertension                                                                                                        9
Taking medicine for high blood pressure control among adults aged >= 18 years with high blood pressure                         2064
Name: DataValue, dtype: int64

In [31]:
chronic_obstructive_pulmonary_disease_questions_counts = chronic_obstructive_pulmonary_disease_topics2.groupby("Question")["DataValue"].count()
chronic_obstructive_pulmonary_disease_questions_counts

Question
Cancer of the colon and recturm (colorectal), incidence                                  153
Cancer of the colon and recturm (colorectal), mortality                                  156
Cancer of the female breast, mortality                                                   156
Cancer of the female cervix, mortality                                                   156
Cancer of the lung and bronchus, incidence                                               153
Cancer of the lung and bronchus, mortality                                               156
Cancer of the oral cavity and pharynx, mortality                                         156
Cancer of the prostate, mortality                                                        156
Fecal occult blood test, sigmoidoscopy, or colonoscopy among adults aged 50-75 years    1590
Invasive cancer (all sites combined), incidence                                          153
Invasive cancer (all sites combined), mortality                                          156
Invasive cancer of the cervix, incidence                                                 153
Invasive cancer of the female breast, incidence                                          153
Invasive cancer of the oral cavity or pharynx, incidence                                 153
Invasive cancer of the prostate, incidence                                               153
Invasive melanoma, incidence                                                             153
Mammography use among women aged 50-74 years                                             877
Melanoma, mortality                                                                      156
Papanicolaou smear use among adult women aged 21-65 years                               1028
Recent Papanicolaou smear use among women aged 21-44 years                               432
Name: DataValue, dtype: int64

In [32]:
diabetes_questions_counts = diabetes_topics2.groupby("Question")["DataValue"].count()
diabetes_questions_counts

Question
Adults with diagnosed diabetes aged >= 18 years who have taken a diabetes self-management course       1897
Amputation of a lower extremity attributable to diabetes                                               1332
Diabetes prevalence among women aged 18-44 years                                                        661
Dilated eye examination among adults aged >= 18 years with diagnosed diabetes                          1894
Foot examination among adults aged >= 18 years with diagnosed diabetes                                 1889
Glycosylated hemoglobin measurement among adults aged >= 18 years with diagnosed diabetes              1868
Hospitalization with diabetes as a listed diagnosis                                                    1332
Influenza vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes       2592
Influenza vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes       2464
Mortality due to diabetes reported as any listed cause of death                                        6135
Mortality with diabetic ketoacidosis reported as any listed cause of death                             6135
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years with diagnosed diabetes    2546
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with diagnosed diabetes    2438
Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes               2615
Prevalence of diagnosed diabetes among adults aged >= 18 years                                         3514
Prevalence of gestational diabetes                                                                       52
Prevalence of high blood pressure among adults aged >= 18 years with diagnosed diabetes                1810
Prevalence of high cholesterol among adults aged >= 18 years with diagnosed diabetes                   1789
Prevalence of pre-pregnancy diabetes                                                                     23
Visits to dentist or dental clinic among adults aged >= 18 years with diagnosed diabetes               1123
Name: DataValue, dtype: int64

In [33]:
nutrition_physical_activity_weight_status_questions_counts = nutrition_physical_activity_weight_status_topics2.groupby("Question")["DataValue"].count()
nutrition_physical_activity_weight_status_questions_counts

Question
Census tracts with healthier food retailers within Â½ mile of boundary                                                                                104
Computer use among high school students                                                                                                               84
Farmers markets that accept Supplemental Nutrition Assistance Program (SNAP) benefits                                                                 52
Farmers markets that accept Women and Infant Children (WIC) farmers market nutrition program coupons                                                  38
Healthy weight among adults aged >= 18 years                                                                                                        4035
Healthy weight among high school students                                                                                                             87
Infants breastfed at 6 months                                                                                                                        105
Live births occurring at Baby Friendly Facilities                                                                                                    105
Mean maternity practices in infant nutrition care (mPINC) score                                                                                      105
Median daily frequency of fruit consumption among adults aged >= 18 years                                                                           1202
Median daily frequency of fruit consumption among high school students                                                                                81
Median daily frequency of vegetable consumption among adults aged >= 18 years                                                                       1212
Median daily frequency of vegetable consumption among high school students                                                                            71
Meeting aerobic physical activity guidelines among high school students                                                                               86
Meeting aerobic physical activity guidelines for additional and more extensive health benefits among adults aged >= 18 years                        1590
Meeting aerobic physical activity guidelines for substantial health benefits among adults aged >= 18 years                                          1606
Meeting aerobic physical activity guidelines for substantial health benefits and for muscle-strengthening activity among adults aged >= 18 years    1513
No leisure-time physical activity among adults aged >= 18 years                                                                                     3964
Number of farmers markets per 100,000 residents                                                                                                       52
Obesity among adults aged >= 18 years                                                                                                               4009
Obesity among high school students                                                                                                                    87
Overweight or obesity among adults aged >= 18 years                                                                                                 4062
Overweight or obesity among high school students                                                                                                      87
Overweight or obesity among women aged 18-44 years                                                                                                  1040
Participation in daily school physical education classes among high school students                                                                   77
Presence of regulations pertaining to avoiding sugar in early care and education settings                                                             51
Presence of regulations pertaining to screen time in early care and education settings                                                                51
Presence of regulations pertaining to serving fruit in early care and education settings                                                             102
Presence of regulations pertaining to serving vegetables in early care and education settings                                                        102
Receiving formula supplementation within the first 2 days of life among breastfed infants                                                            105
Secondary schools that allow community-sponsored use of physical activity facilities by youth outside of normal school hours                          94
Secondary schools that allow students to purchase soda or fruit drinks                                                                                94
Secondary schools that allow students to purchase sports drinks                                                                                       93
Secondary schools that offer less healthy foods as competitive foods                                                                                  94
Soda consumption among high school students                                                                                                           82
State child care regulation supports onsite breastfeeding                                                                                            102
Television viewing among high school students                                                                                                         83
Name: DataValue, dtype: int64

In [34]:

overarching_conditions_topics2_questions_counts = overarching_conditions_topics2.groupby("Question")["DataValue"].count()
overarching_conditions_topics2_questions_counts

Question
Current health care coverage among women aged 18-44 years              1057
Current lack of health insurance among adults aged 18-64 years         3230
Fair or poor self-rated health status among adults aged >= 18 years    3440
Gini Index of income inequality                                         318
Health insurance coverage before pregnancy                               23
High school completion among adults aged 18-24 years                     53
High school completion among women aged 18-44 years                      53
Life expectancy at age 65 years                                          52
Life expectancy at birth                                                 52
Poverty                                                                  53
Poverty among women aged 18-44 years                                     52
Premature mortality among adults aged 45-64 years                      5478
Prevalence of sufficient sleep among adults aged >= 18 years           1704
Recent activity limitation among adults aged >= 18 years               3334
Recent physically unhealthy days among adults aged >= 18 years         3492
Self-rated health status among women aged 18-44 years                  1062
Name: DataValue, dtype: int64

In [35]:
tobacco_questions_counts = tobacco_topics2.groupby("Question")["DataValue"].count()
tobacco_questions_counts

Question
Amount of tobacco product excise tax                                                                                                                                                    153
Cigarette smoking before pregnancy                                                                                                                                                       22
Current cigarette smoking among women aged 18-44 years                                                                                                                                  968
Current cigarette smoking among youth                                                                                                                                                    83
Current smokeless tobacco use among adults aged >= 18 years                                                                                                                            2444
Current smokeless tobacco use among youth                                                                                                                                                78
Current smoking among adults aged >= 18 years                                                                                                                                          3936
Percent tobacco revenue to fund at CDC recommended level                                                                                                                                102
Pneumococcal vaccination among noninstitutionalized adults aged 18-64 years who smoke                                                                                                  2738
Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years who smoke                                                                                                  2052
Proportion of the population protected by a comprehensive smoke-free policy prohibiting smoking in all indoor areas of workplaces and public places, including restaurants and bars     104
Quit attempts in the past year among current smokers                                                                                                                                   3105
Sale of cigarette packs                                                                                                                                                                 102
Secondary schools that have a comprehensive tobacco-free school policy in place                                                                                                          94
States that allow stronger local tobacco control and prevention laws                                                                                                                    162
States with strong polices that require retail licenses to sell tobacco products                                                                                                        162
Name: DataValue, dtype: int64

In [36]:
cdc_data_gr = cdc_data['Question']=='Binge drinking frequency among adults aged >= 18 years who binge drink'
cdc_data_gr.head()

0    False
1    False
2    False
3    False
4    False
Name: Question, dtype: bool

In [56]:
# Filter the data to pick only what we wants for the analysis are in a DataFrame
Analyzed_data = cdc_data.loc[(cdc_data["Question"] == "Binge drinking prevalence among adults aged >= 18 years")|
                                (cdc_data["Question"] == "Binge drinking frequency among adults aged >= 18 years who binge drink")|
                                (cdc_data["Question"] == "Chronic liver disease mortality")|
                                (cdc_data["Question"] == "Arthritis among adults aged >= 18 years")|
                                (cdc_data["Question"] == "Arthritis among adults aged >= 18 years who are obese")|                                                   
                                (cdc_data["Question"] =="Arthritis among adults aged >= 18 years who have diabetes")|                                             
                                (cdc_data["Question"] =="Arthritis among adults aged >= 18 years who have heart disease")|                                 
                                (cdc_data["Question"] =="Asthma mortality rate")|                                                              
                                (cdc_data["Question"] =="Current asthma prevalence among adults aged >= 18 years")|                                  
                                (cdc_data["Question"] =="Cancer of the colon and recturm (colorectal), mortality")|                              
                                (cdc_data["Question"] =="Cancer of the female breast, mortality")|                                             
                                (cdc_data["Question"] =="Cancer of the female cervix, mortality")|                                                 
                                (cdc_data["Question"] =="Cancer of the lung and bronchus, mortality")|                                           
                                (cdc_data["Question"] =="Cancer of the oral cavity and pharynx, mortality")|                                    
                                (cdc_data["Question"] =="Cancer of the prostate, mortality")|                                                    
                                (cdc_data["Question"] =="Invasive cancer (all sites combined), mortality")|                                       
                                (cdc_data["Question"] =="High cholesterol prevalence among adults aged >= 18 years")|                                                            
                                (cdc_data["Question"] =="Mortality from cerebrovascular disease (stroke)")|                                                                             
                                (cdc_data["Question"] =="Mortality from coronary heart disease")|                                                                                     
                                (cdc_data["Question"] =="Mortality from diseases of the heart")|                                                                                         
                                (cdc_data["Question"] =="Mortality from heart failure")|                                                                                                
                                (cdc_data["Question"] =="Mortality from total cardiovascular diseases")|                                                                                
                                (cdc_data["Question"] =="Prevalence of diagnosed diabetes among adults aged >= 18 years")|                                
                                (cdc_data["Question"] =="Prevalence of high blood pressure among adults aged >= 18 years with diagnosed diabetes")|          
                                (cdc_data["Question"] =="Prevalence of high cholesterol among adults aged >= 18 years with diagnosed diabetes")|
                                (cdc_data["Question"] =="Mortality due to diabetes reported as any listed cause of death")|
                                (cdc_data["Question"] =="Overweight or obesity among adults aged >= 18 years")|
                                (cdc_data["Question"] =="Obesity among adults aged >= 18 years")|
                                (cdc_data["Question"] =="Median daily frequency of fruit consumption among adults aged >= 18 years")|
                                (cdc_data["Question"] =="Median daily frequency of vegetable consumption among adults aged >= 18 years")|
                                (cdc_data["Question"] =="Current lack of health insurance among adults aged 18-64 years")|
                                (cdc_data["Question"] =="Premature mortality among adults aged 45-64 years")|
                                (cdc_data["Question"] =="current smokeless tobacco use among adults aged >= 18 years")|
                                (cdc_data["Question"] =="Current smoking among adults aged >= 18 years")|
                                (cdc_data["Question"] =="Chronic liver disease mortality"),:
                                            ]
Analyzed_data.head()

,YearEnd,LocationAbbr,LocationDesc,Topic,Question,Response,DataValueUnit,DataValueType,DataValue,DatavalueFootnote,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation
502,2013,FL,Florida,Asthma,Asthma mortality rate,,NaN,Number,31,,NaN,NaN,Race/Ethnicity,Hispanic,"(28.932040377000476, -81.92896053899966)"
567,2013,FL,Florida,Asthma,Asthma mortality rate,,NaN,Number,79,,NaN,NaN,Gender,Male,"(28.932040377000476, -81.92896053899966)"
972,2013,FL,Florida,Asthma,Asthma mortality rate,,NaN,Number,188,,NaN,NaN,Overall,Overall,"(28.932040377000476, -81.92896053899966)"
1303,2015,AK,Alaska,Alcohol,Binge drinking frequency among adults aged >= ...,NaN,Number,Age-adjusted Mean,NaN,Sample size of denominator and/or age group fo...,NaN,NaN,Race/Ethnicity,"Black, non-Hispanic","(64.84507995700051, -147.72205903599973)"
1304,2015,AK,Alaska,Alcohol,Binge drinking frequency among adults aged >= ...,NaN,Number,Age-adjusted Mean,5.1,NaN,3.6,6.5,Gender,Female,"(64.84507995700051, -147.72205903599973)"

In [57]:
# identify incomplete rows
Analyzed_data.count()

YearEnd                    115038
LocationAbbr               115038
LocationDesc               115038
Topic                      115038
Question                   115038
Response                    49080
DataValueUnit               96268
DataValueType              115038
DataValue                  102025
DatavalueFootnote           62383
LowConfidenceLimit          74970
HighConfidenceLimit         74970
StratificationCategory1    115038
Stratification1            115038
GeoLocation                114472
dtype: int64

In [58]:
# Drop all rows with missing information
Analyzed_data = Analyzed_data.dropna(how='any')

In [59]:
Analyzed_data.count()

YearEnd                    24136
LocationAbbr               24136
LocationDesc               24136
Topic                      24136
Question                   24136
Response                   24136
DataValueUnit              24136
DataValueType              24136
DataValue                  24136
DatavalueFootnote          24136
LowConfidenceLimit         24136
HighConfidenceLimit        24136
StratificationCategory1    24136
Stratification1            24136
GeoLocation                24136
dtype: int64

In [60]:
#export data frame to csv
Analyzed_data.to_csv("Resources/Reduced_Chronic.csv")

In [64]:
Clean_data = "Resources/Reduced_Chronic.csv"
Analyzed_data1 = pd.read_csv(Clean_data)
Analyzed_data1.head()

,Unnamed: 0,YearEnd,LocationAbbr,LocationDesc,Topic,Question,Response,DataValueUnit,DataValueType,DataValue,DatavalueFootnote,LowConfidenceLimit,HighConfidenceLimit,StratificationCategory1,Stratification1,GeoLocation
0,41149,2013,UT,Utah,Asthma,Asthma mortality rate,,"cases per 1,000,000",Crude Rate,13.9,,8.5,21.4,Gender,Female,"(39.360700171000474, -111.58713063499971)"
1,69377,2013,AL,Alabama,Asthma,Asthma mortality rate,,"cases per 1,000,000",Age-adjusted Rate,17.8,,10.9,27.5,Race/Ethnicity,"Black, non-Hispanic","(32.84057112200048, -86.63186076199969)"
2,69378,2013,AL,Alabama,Asthma,Asthma mortality rate,,"cases per 1,000,000",Age-adjusted Rate,9.6,,6.3,14.1,Gender,Female,"(32.84057112200048, -86.63186076199969)"
3,69381,2013,AL,Alabama,Asthma,Asthma mortality rate,,"cases per 1,000,000",Age-adjusted Rate,8.4,,6.0,11.4,Overall,Overall,"(32.84057112200048, -86.63186076199969)"
4,69382,2013,AL,Alabama,Asthma,Asthma mortality rate,,"cases per 1,000,000",Age-adjusted Rate,5.4,,3.2,8.6,Race/Ethnicity,"White, non-Hispanic","(32.84057112200048, -86.63186076199969)"