In [1]:
#
import pandas as pd
import matplotlib as plt
import numpy as np 
import gmaps
from config import gkey

In [2]:
econ_df = pd.read_csv(r"Resources/income_data.csv")
econ_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [3]:
states = ["Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado",
          "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", 
          "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", 
          "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", 
          "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", 
          "New Hampshire", "New Jersey", "New Mexico", "New York", 
          "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", 
          "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", 
          "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", 
          "West Virginia", "Wisconsin", "Wyoming"]

In [4]:
#for state in states:
   # if econ_df["State_Name"] == state:

In [5]:
gmaps.configure(api_key=gkey)

In [6]:
locations = econ_df[["Lat","Lon"]].astype(float)

mean_income = econ_df["Mean"].astype(float)

In [7]:
locations.head()

         Lat        Lon
0  30.771450 -88.079697
1  31.708516 -85.611039
2  33.191452 -86.615618
3  30.874343 -88.009442
4  30.250913 -88.171268

In [8]:
mean_income.head()

0    38773.0
1    37725.0
2    54606.0
3    63919.0
4    77948.0
Name: Mean, dtype: float64

In [14]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=mean_income,
                                       dissipating=False, max_intensity=8000000,
                                       point_radius=1)

heat_layer.dissipating = False
heat_layer.max_intensity = 8000000
heat_layer.point_radius = 1

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))