In [1]:
# Dependencies
import pandas as pd
import matplotlib as plt
import numpy as np

In [2]:
econ_df = pd.read_csv(r"Resources/income_data.csv")
econ_df.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [3]:
# Split regions

# Region 1: Northeast
# "Connecticut", "Delaware", "District of Columbia", "Maine", 
# "Maryland", "Massachusetts", "New Hampshire", "New Jersey", 
# "New York", "Pennsylvania", "Rhode Island","Vermont"

northeast = econ_df.loc[(econ_df["State_Name"] == "Connecticut") | 
                        (econ_df["State_Name"] == "Delaware") | 
                        (econ_df["State_Name"] == "District of Columbia") | 
                        (econ_df["State_Name"] == "Maine") | 
                        (econ_df["State_Name"] == "Maryland") | 
                        (econ_df["State_Name"] == "Massachusetts") | 
                        (econ_df["State_Name"] == "New Hampshire") | 
                        (econ_df["State_Name"] == "New Jersey") | 
                        (econ_df["State_Name"] == "New York") | 
                        (econ_df["State_Name"] == "Pennsylvania") | 
                        (econ_df["State_Name"] == "Rhode Island") | 
                        (econ_df["State_Name"] == "Vermont"), :]

# Region 2: Midwest 
# "Illinois", "Indiana", "Iowa", "Kansas", "Michigan","Minnesota", 
# "Missouri", "Nebraska", "North Dakota", "Ohio", "South Dakota", 
# "Wisconsin"

midwest = econ_df.loc[(econ_df["State_Name"] == "Illinois") | 
                        (econ_df["State_Name"] == "Indiana") | 
                        (econ_df["State_Name"] == "Iowa") | 
                        (econ_df["State_Name"] == "Kansas") | 
                        (econ_df["State_Name"] == "Michigan") | 
                        (econ_df["State_Name"] == "Minnesota") | 
                        (econ_df["State_Name"] == "Missouri") | 
                        (econ_df["State_Name"] == "Nebraska") | 
                        (econ_df["State_Name"] == "North Dakota") | 
                        (econ_df["State_Name"] == "Ohio") | 
                        (econ_df["State_Name"] == "South Dakota") | 
                        (econ_df["State_Name"] == "Wisconsin"), :]

# Region 3: Southeast
# "Alabama", "Arkansas", "Florida", "Georgia", "Kentucky", "Louisiana", 
# "Mississippi", "North Carolina", "South Carolina", "Tennessee",
# "Virginia", "West Virginia"

southeast = econ_df.loc[(econ_df["State_Name"] == "Alabama") | 
                        (econ_df["State_Name"] == "Arkansas") | 
                        (econ_df["State_Name"] == "Florida") | 
                        (econ_df["State_Name"] == "Georgia") | 
                        (econ_df["State_Name"] == "Kentucky") | 
                        (econ_df["State_Name"] == "Louisiana") | 
                        (econ_df["State_Name"] == "Mississippi") | 
                        (econ_df["State_Name"] == "North Carolina") | 
                        (econ_df["State_Name"] == "South Carolina") | 
                        (econ_df["State_Name"] == "Tennesse") | 
                        (econ_df["State_Name"] == "Virginia") | 
                        (econ_df["State_Name"] == "West Virginia"), :]

# Region 4: Southwest
# "Arizona", "New Mexico", "Oklahoma", "Texas"

southwest = econ_df.loc[(econ_df["State_Name"] == "Arizona") | 
                        (econ_df["State_Name"] == "New Mexico") | 
                        (econ_df["State_Name"] == "Oklahoma") | 
                        (econ_df["State_Name"] == "Texas"), :]
    
# Region 5: West
# "Alaska", "California", "Colorado", "Hawaii", "Idaho", "Montana", 
# "Nevada", "Oregon", "Utah", "Washington", "Wyoming"

west = econ_df.loc[(econ_df["State_Name"] == "Alaska") | 
                    (econ_df["State_Name"] == "California") | 
                    (econ_df["State_Name"] == "Colorado") | 
                    (econ_df["State_Name"] == "Hawaii") | 
                    (econ_df["State_Name"] == "Idaho") | 
                    (econ_df["State_Name"] == "Montana") | 
                    (econ_df["State_Name"] == "Nevada") | 
                    (econ_df["State_Name"] == "Oregon") | 
                    (econ_df["State_Name"] == "Utah") | 
                    (econ_df["State_Name"] == "Washington") | 
                    (econ_df["State_Name"] == "Wyoming"), :]

In [4]:
# Check Northeast region
northeast.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
5394,901151,9,Connecticut,CT,Fairfield County,Bethel,Bethel,CDP,place,6801,203,10593561,0,41.372729,-73.411580,87608,75471,57395,1873.286149
5395,901161,9,Connecticut,CT,Fairfield County,Wilton,Cannondale,CDP,place,6897,203,801282,0,41.216034,-73.424873,123210,300000,87888,14.231681
5396,901171,9,Connecticut,CT,Tolland County,Ellington,Crystal Lake,CDP,place,6029,860,20253178,713507,41.933133,-72.374438,119346,300000,72072,215.678930
5397,901181,9,Connecticut,CT,New Haven County,East Haven,East Haven,CDP,place,6512,203,31846047,3116162,41.293453,-72.858994,75846,63464,57464,5819.261590
5398,901191,9,Connecticut,CT,New London County,Groton,Groton Long Point,Borough,place,6340,860,1106552,42057,41.314186,-72.010155,118213,99833,75285,86.192886

In [5]:
# Check Midwest Region
midwest.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
8667,17012267,17,Illinois,IL,Washington County,Okawville,Addieville,Village,place,62271,618,2727619,0,38.391286,-89.486764,71437,66673,41043,54.797180
8668,17012277,17,Illinois,IL,McHenry County,Algonquin,Algonquin,Village,place,60102,847,31735947,460610,42.162506,-88.315603,106896,97339,65244,2760.564686
8669,17012287,17,Illinois,IL,Cook County,Alsip,Alsip,Village,place,60803,708,16900206,259691,41.670270,-87.737085,63628,54141,44486,4175.149011
8670,17012297,17,Illinois,IL,Union County,Anna,Anna city,City,place,62906,618,9202887,49041,37.467108,-89.234522,52689,34614,54128,1246.386618
8671,17012307,17,Illinois,IL,Bureau County,Cherry,Arlington,Village,place,61317,815,1021570,0,41.471669,-89.248285,58032,50046,49740,48.631683

In [6]:
# Check Southeast Region
southeast.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328

In [7]:
# Check Southwest Region
southwest.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
631,401539,4,Arizona,AZ,Pima County,Sells,Ali Molina,CDP,place,85634,520,1996741,0,31.902547,-111.780387,58579,11622,79050,16.898620
632,401549,4,Arizona,AZ,Pinal County,Eloy,Arizona City,CDP,place,85131,520,15901047,186302,32.750787,-111.670454,51765,43020,38386,2371.638295
633,401559,4,Arizona,AZ,Mohave County,Littlefield,Beaver Dam,CDP,place,86432,928,21799318,0,36.907098,-113.936313,56286,45147,39008,387.185228
634,401569,4,Arizona,AZ,Cochise County,Bowie,Bowie,CDP,place,85605,520,4393141,0,32.324831,-109.484454,35045,32050,24950,115.993889
635,401579,4,Arizona,AZ,Coconino County,Tuba City,Cameron,CDP,place,86045,928,48495778,43135,35.853193,-111.428585,41489,34601,35089,222.022625

In [8]:
# Check West Region
west.head()

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
526,201360,2,Alaska,AK,Kusilvak Census Area,Alakanuk,Alakanuk city,City,place,99554,907,76485032,26008972,62.711160,-164.644712,40008,33347,32543,125.296256
527,201370,2,Alaska,AK,Denali Borough,Anderson,Anderson city,City,place,99744,907,113285111,9169124,64.308281,-149.163187,93374,300000,43837,26.531144
528,201380,2,Alaska,AK,North Slope Borough,Barrow,Barrow city,City,place,99723,907,48786920,6890236,71.253500,-156.800072,94285,78124,70054,614.464934
529,201390,2,Alaska,AK,Northwest Arctic Borough,Buckland,Buckland city,City,place,99727,907,3640031,417369,65.975886,-161.138732,63175,59795,43206,68.763139
530,201400,2,Alaska,AK,Kusilvak Census Area,Chevak,Chevak city,City,place,99563,907,2562639,54920,61.531066,-165.597199,51011,41718,37096,144.594291